{% extends 'base.html' %}
{% block tittle %}NotasPro - Editor{% endblock %}
{% block nav %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/logout">
        <button type="button" class="btn btn-primary">Cerrar Sesión</button>
    </a>
</div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="pre-scrollable" style="resize: horizontal; max-height: 100vh; max-width: 20vw">
    
    
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim nibh non maximus posuere. Duis mauris nibh, rhoncus
            in lacus imperdiet, rutrum tristique sapien. In est leo, euismod ut magna vitae, viverra lacinia mi. Mauris ut est
            luctus, placerat urna quis, gravida nulla. Fusce vel blandit est, in euismod odio. Nunc id mauris tortor. Vivamus
            varius massa nulla, et interdum ligula placerat non. Phasellus venenatis ac dolor non convallis. Fusce ipsum leo,
            tristique eget efficitur non, placerat at elit. Suspendisse aliquet sit amet justo at auctor. Integer placerat vehicula
            tellus quis elementum. Aenean congue nisi rhoncus mattis commodo. Integer non fermentum turpis. Sed scelerisque turpis
            diam, eu fringilla elit posuere et. Duis tellus lacus, gravida sit amet est auctor, ultrices ullamcorper dui. Maecenas
            eu commodo felis. Cras vel vulputate felis. Nullam egestas porta ligula a mattis. Integer quam libero, maximus ut
            dolor a, auctor scelerisque libero. Quisque luctus mollis posuere. Praesent tristique urna nec commodo cursus. Nam
            dolor lectus, fermentum vitae metus non, eleifend semper sapien. Maecenas sed posuere dolor. Morbi quis vestibulum
            nisl. Nullam a maximus leo, sit amet mattis dui. Nulla dictum dui ut dui hendrerit, a condimentum arcu pretium. Quisque
            sed porttitor diam. Vivamus posuere scelerisque mauris, at pretium ipsum maximus vel. Mauris nec tristique magna.
            Ut sodales, lectus at sollicitudin lobortis, urna sapien aliquet justo, ac porta dolor erat nec odio. Integer mi
            arcu, vulputate sed imperdiet vel, congue eu magna. Aliquam gravida est massa, quis facilisis magna dignissim blandit.
            Sed fermentum ex sed posuere lacinia. Nam viverra ligula nibh, id iaculis ipsum laoreet at. Pellentesque a nisi eget
            dolor aliquam aliquam et eget lorem. Nam posuere faucibus velit, eu tristique risus congue venenatis. Duis consequat
            maximus imperdiet. Donec fringilla, nisi et gravida interdum, tortor lorem ultricies nisi, quis pretium massa odio
            sed diam. Morbi quam orci, condimentum non magna sit amet, luctus pellentesque lectus. In nec quam tempus felis venenatis
            finibus et vel tellus. Nulla molestie, felis ac blandit luctus, lorem orci laoreet nibh, in euismod tellus leo a
            ex. Duis et augue elit. Suspendisse leo eros, viverra non eros et, consequat gravida orci. Nullam posuere odio sed
            magna feugiat ullamcorper. Quisque pulvinar semper condimentum. In tempus, urna auctor imperdiet blandit, ligula
            sapien gravida lorem, id molestie tellus enim eu erat. Praesent et velit at sem finibus vestibulum id et lectus.
            Vivamus scelerisque quis justo non aliquam. Phasellus fermentum mi sed feugiat hendrerit. Nunc convallis accumsan
            consequat. Integer venenatis felis quis lorem tincidunt, sit amet cursus risus hendrerit. Aenean sed iaculis ligula.
            Donec quis placerat libero. Quisque id felis ac nunc efficitur gravida. In at odio ut turpis volutpat ultricies.
            Maecenas quis ullamcorper tellus. Pellentesque finibus ante mauris, id varius purus mollis egestas. Etiam et enim
            vitae neque interdum sagittis. Cras cursus ac augue vitae tempor. Aliquam erat volutpat. Fusce pharetra pretium augue,
            id ornare nibh vulputate at. In eget libero non nisi pretium tincidunt. Curabitur eu turpis sed purus varius laoreet
            ac ut nulla. Fusce ornare accumsan purus, sit amet ultricies felis accumsan sed. Sed facilisis aliquam nisi ac sodales.
            Vivamus sed dolor quis lacus volutpat convallis sed eu ipsum. Sed ullamcorper vulputate mattis. Duis malesuada ipsum
            id ipsum interdum, at feugiat turpis pretium. Integer a massa ac sapien congue accumsan dictum vel magna. Fusce varius,
            erat imperdiet pharetra maximus, purus nisl gravida sapien, consectetur tempor dui neque eu augue.
        </div>
        <div class="pre-scrollable " style="resize: horizontal; max-height: 100vh; max-width: 30vw">
    
    
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim nibh non maximus posuere. Duis mauris nibh, rhoncus
            in lacus imperdiet, rutrum tristique sapien. In est leo, euismod ut magna vitae, viverra lacinia mi. Mauris ut est
            luctus, placerat urna quis, gravida nulla. Fusce vel blandit est, in euismod odio. Nunc id mauris tortor. Vivamus
            varius massa nulla, et interdum ligula placerat non. Phasellus venenatis ac dolor non convallis. Fusce ipsum leo,
            tristique eget efficitur non, placerat at elit. Suspendisse aliquet sit amet justo at auctor. Integer placerat vehicula
            tellus quis elementum. Aenean congue nisi rhoncus mattis commodo. Integer non fermentum turpis. Sed scelerisque turpis
            diam, eu fringilla elit posuere et. Duis tellus lacus, gravida sit amet est auctor, ultrices ullamcorper dui. Maecenas
            eu commodo felis. Cras vel vulputate felis. Nullam egestas porta ligula a mattis. Integer quam libero, maximus ut
            dolor a, auctor scelerisque libero. Quisque luctus mollis posuere. Praesent tristique urna nec commodo cursus. Nam
            dolor lectus, fermentum vitae metus non, eleifend semper sapien. Maecenas sed posuere dolor. Morbi quis vestibulum
            nisl. Nullam a maximus leo, sit amet mattis dui. Nulla dictum dui ut dui hendrerit, a condimentum arcu pretium. Quisque
            sed porttitor diam. Vivamus posuere scelerisque mauris, at pretium ipsum maximus vel. Mauris nec tristique magna.
            Ut sodales, lectus at sollicitudin lobortis, urna sapien aliquet justo, ac porta dolor erat nec odio. Integer mi
            arcu, vulputate sed imperdiet vel, congue eu magna. Aliquam gravida est massa, quis facilisis magna dignissim blandit.
            Sed fermentum ex sed posuere lacinia. Nam viverra ligula nibh, id iaculis ipsum laoreet at. Pellentesque a nisi eget
            dolor aliquam aliquam et eget lorem. Nam posuere faucibus velit, eu tristique risus congue venenatis. Duis consequat
            maximus imperdiet. Donec fringilla, nisi et gravida interdum, tortor lorem ultricies nisi, quis pretium massa odio
            sed diam. Morbi quam orci, condimentum non magna sit amet, luctus pellentesque lectus. In nec quam tempus felis venenatis
            finibus et vel tellus. Nulla molestie, felis ac blandit luctus, lorem orci laoreet nibh, in euismod tellus leo a
            ex. Duis et augue elit. Suspendisse leo eros, viverra non eros et, consequat gravida orci. Nullam posuere odio sed
            magna feugiat ullamcorper. Quisque pulvinar semper condimentum. In tempus, urna auctor imperdiet blandit, ligula
            sapien gravida lorem, id molestie tellus enim eu erat. Praesent et velit at sem finibus vestibulum id et lectus.
            Vivamus scelerisque quis justo non aliquam. Phasellus fermentum mi sed feugiat hendrerit. Nunc convallis accumsan
            consequat. Integer venenatis felis quis lorem tincidunt, sit amet cursus risus hendrerit. Aenean sed iaculis ligula.
            Donec quis placerat libero. Quisque id felis ac nunc efficitur gravida. In at odio ut turpis volutpat ultricies.
            Maecenas quis ullamcorper tellus. Pellentesque finibus ante mauris, id varius purus mollis egestas. Etiam et enim
            vitae neque interdum sagittis. Cras cursus ac augue vitae tempor. Aliquam erat volutpat. Fusce pharetra pretium augue,
            id ornare nibh vulputate at. In eget libero non nisi pretium tincidunt. Curabitur eu turpis sed purus varius laoreet
            ac ut nulla. Fusce ornare accumsan purus, sit amet ultricies felis accumsan sed. Sed facilisis aliquam nisi ac sodales.
            Vivamus sed dolor quis lacus volutpat convallis sed eu ipsum. Sed ullamcorper vulputate mattis. Duis malesuada ipsum
            id ipsum interdum, at feugiat turpis pretium. Integer a massa ac sapien congue accumsan dictum vel magna. Fusce varius,
            erat imperdiet pharetra maximus, purus nisl gravida sapien, consectetur tempor dui neque eu augue.
        </div>
    </div>
{% endblock %}