{% extends 'base.html' %} 
{% block tittle %}NotasPro - Bienvenido{% endblock %}
{% block body %}
<div class="container" style="padding-top: 15px;">
    <div class="jumbotron">
        <h1 class="display-3">NotesPro</h1>
        <div class="col-lg-4 col-md-offset-10"></div>
        <p>NotesPro destaca por la sencillez de su interfaz, a la vez que resulta agradable.
            NotesPro te permite escribir y organizar tus notas en diferentes libros y organizados 
            por etiquetas, y puedes crear tanto notas escritas, o con imágenes. Te ayuda a mejorar
            tu productividad manteniendo ordenadas tus notas, ya sean texto o imagen, las 
            podrás acceder a través de tu cuenta en la nube</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#">Acerca de</a>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-offset-10">
            <div class="card">
                <h3 class="card-header">Simplicidad</h3>
                <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/simple.jpg' %}"
                alt="Card image">
                <div class="card-body">
                    <p class="card-text">Tan simple como escribir en un papel para recordarlo todo sin problemas</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3 class="card-header">Rapidez</h3>
                <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/rapido.jpg' %}"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">NotesPro es agil te permite escribir rápidamente los que necesitas.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3 class="card-header">Adaptable</h3>
                <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/adaptable.jpg' %}"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">Se adapta a cualquier pantalla, tanto PC, smartphone y tables.</p>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}